body {
    margin-top : 100px;
}

main {
    margin-top: 30px;  
}


#nav-bar {
    background-color: rgba((37, 41, 88));
}

.content-section {
    padding : 15px 15px 5px 15px;
    background-color: white;
    border-radius: 5px;
}

.form-group {
    padding-top : 10px;
}

.account-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.article-img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

