{% extends "layout.html" %} 
{% block content %}

    <h1> Welcome To My Site</h1>
    {% for post in posts.items %} 
        <div class="card text-bg-dark mb-3 col-md-12" >
            <div class="card-header">
                <img class = "rounded-circle article-img" src = "{{url_for('static', filename = 'profile_pics/' + post.author.image_file)}}">
                <a class = 'text-info mr-auto' style = "text-decoration : none;" href = "{{url_for('users.user_posts', username = post.author.username)}}"> {{post.author.username}} </a>
                <small class = 'text-secondary ml-auto'> {{post.date_posted.strftime('%d-%m-%Y')}} </small>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a class = "link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href = "{{url_for('posts.post', post_id = post.id)}}">
                {{post.title}}
                </a>
            </h5>
              <p class="card-text">{{post.content}}</p>
            </div>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% for page_num in posts.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %} 
                {% if page_num %} 
                    <li class = "page-item {% if page_num == posts.page %} active {% endif %}">
                        <a class = "page-link" href = "{{url_for('main.home', page = page_num)}}">{% if page_num == 1 %} Home {% else %} {{page_num}} {% endif %}</a>
                    </li>
                {% else %}
                <li class = "page-item {% if page_num == posts.page %} 'active' {% endif %}">
                    <a class = "page-link" href = "{{url_for('main.home', page = page_num)}}">...</a>
                </li>
                {% endif %} 
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
